<%= javascript_include_tag :defaults %>

<h1>Link to remote with loading</h1>
<p>
	<%= link_to_remote 'Click here', :update => :result, :url => {:action => :remote}, :loading => "$('loading').show();", :loaded => "$('loading').hide();" %>
	
	<span id='loading' style='display:none'><%= image_tag 'loading.gif' %></span>
</p>
<div id='result'></div>